In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Content.csv')

In [3]:
df= df.drop(['Unnamed: 0'], axis=1)

In [4]:
df.head()

,Content ID,User ID,Type,Category,URL
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  1000 non-null   object
 1   User ID     1000 non-null   object
 2   Type        1000 non-null   object
 3   Category    1000 non-null   object
 4   URL         801 non-null    object
dtypes: object(5)
memory usage: 39.2+ KB

In [6]:
df['Type'].value_counts().sort_values(ascending= True)

#This shows that Photo content is the most common but with no real difference than the other types

Type
audio    236
GIF      244
video    259
photo    261
Name: count, dtype: int64

In [7]:
df['Category'].value_counts().sort_values(ascending= True)

#While trying to see the most famous category i noticed some extra "" and capital letters

Category
"science"             1
"veganism"            1
"public speaking"     1
Public Speaking       1
"cooking"             1
Healthy Eating        1
"technology"          1
"food"                1
Culture               1
"tennis"              1
Technology            1
"animals"             1
"studying"            1
Veganism              1
Food                  2
Travel                2
Studying              2
Education             2
"dogs"                2
Soccer                3
"culture"             3
"soccer"              3
Science               4
Animals               4
Fitness               5
public speaking      48
veganism             48
studying             55
dogs                 56
education            57
soccer               58
tennis               58
cooking              60
healthy eating       61
food                 61
fitness              61
science              63
culture              63
travel               67
animals              67
technology           71
Name: count, dtype: int64

In [8]:
# We remove the "" and make everything small letter 
df['Category'] = df['Category'].str.replace('"','')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  1000 non-null   object
 1   User ID     1000 non-null   object
 2   Type        1000 non-null   object
 3   Category    1000 non-null   object
 4   URL         801 non-null    object
dtypes: object(5)
memory usage: 39.2+ KB

In [10]:
df['Category'].value_counts()

Category
technology         72
animals            68
travel             67
culture            66
science            64
food               62
healthy eating     61
cooking            61
soccer             61
fitness            61
tennis             59
dogs               58
education          57
studying           56
veganism           49
public speaking    49
Fitness             5
Animals             4
Science             4
Soccer              3
Food                2
Studying            2
Education           2
Travel              2
Technology          1
Culture             1
Healthy Eating      1
Veganism            1
Public Speaking     1
Name: count, dtype: int64

In [11]:
df['Category'] = df['Category'].str.lower()

In [12]:
x = df['Category'].value_counts(), df['Category'].value_counts().count()
x

#We have now 16 different Content Categories
#with technology being the most common content

(Category
 technology         73
 animals            72
 travel             69
 science            68
 culture            67
 fitness            66
 food               64
 soccer             64
 healthy eating     62
 cooking            61
 tennis             59
 education          59
 studying           58
 dogs               58
 public speaking    50
 veganism           50
 Name: count, dtype: int64,
 16)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  1000 non-null   object
 1   User ID     1000 non-null   object
 2   Type        1000 non-null   object
 3   Category    1000 non-null   object
 4   URL         801 non-null    object
dtypes: object(5)
memory usage: 39.2+ KB

In [14]:
df = df.drop(['User ID'], axis=1)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  1000 non-null   object
 1   Type        1000 non-null   object
 2   Category    1000 non-null   object
 3   URL         801 non-null    object
dtypes: object(4)
memory usage: 31.4+ KB

In [17]:
df.to_csv('Content_Cleaned.csv')