In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [15]:
df1 = pd.read_csv('Reactions_cleaned.csv', index_col=None)
df2 = pd.read_csv('ReactionTypes_cleaned.csv', index_col=None)
df3 = pd.read_csv('Content_cleaned.csv', index_col=None)

In [25]:
df = df1.merge(df2, on='Type', how='left')

In [26]:
df.head()

,Content ID,Type,Datetime,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,11/7/2020 9:43,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,6/17/2021 12:22,negative,10
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,4/18/2021 5:13,negative,15
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,1/6/2021 19:13,negative,0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,8/23/2020 12:25,positive,30

In [28]:
df = df.merge(df3, on='Content ID', how='left')

In [29]:
df.head()

,Content ID,Type_x,Datetime,Sentiment,Score,Type_y,Category
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,11/7/2020 9:43,negative,0,photo,Studying
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,6/17/2021 12:22,negative,10,photo,Studying
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,4/18/2021 5:13,negative,15,photo,Studying
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,1/6/2021 19:13,negative,0,photo,Studying
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,8/23/2020 12:25,positive,30,photo,Studying

In [45]:
df.describe()
df.to_csv('Merged_Tables.CSV')

In [64]:
df_final= df.groupby(['Category'])['Score'].sum().sort_values(ascending=False)

In [65]:
df_final.head()

Category
animals           69548
healthy eating    69067
technology        67472
science           66043
cooking           63982
Name: Score, dtype: int64

In [67]:
df_final.to_csv('Top_5_Categories.CSV')