In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Merged_Tables.CSV')

In [3]:
df.head()

,Unnamed: 0,Content ID,Type_x,Datetime,Sentiment,Score,Type_y,Category
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,11/7/2020 9:43,negative,0,photo,Studying
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,6/17/2021 12:22,negative,10,photo,Studying
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,4/18/2021 5:13,negative,15,photo,Studying
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,1/6/2021 19:13,negative,0,photo,Studying
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,8/23/2020 12:25,positive,30,photo,Studying

In [14]:
num_of_cat = df['Category'].nunique()
list_of_cat = df['Category'].unique()
print(f'there are {num_of_cat} categories and they are {list_of_cat}')
# I noticed that i forgot to remove the "" from some of the categories which will result in duplicate categories

there are 40 categories and they are ['Studying' 'healthy eating' 'technology' 'food' 'cooking' 'dogs' 'soccer'
 'public speaking' 'science' 'tennis' 'travel' 'fitness' 'education'
 'studying' 'veganism' 'Animals' 'animals' 'culture' '"culture"' 'Fitness'
 '"studying"' 'Veganism' '"animals"' 'Travel' '"soccer"' 'Education'
 '"dogs"' 'Technology' 'Soccer' 'Culture' '"food"' 'Food' '"technology"'
 'Healthy Eating' '"cooking"' 'Science' '"public speaking"' '"veganism"'
 'Public Speaking' '"science"']

In [15]:
df['Category'] = df['Category'].str.replace('"','')
df.head()

,Unnamed: 0,Content ID,Type_x,Datetime,Sentiment,Score,Type_y,Category
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,11/7/2020 9:43,negative,0,photo,Studying
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,6/17/2021 12:22,negative,10,photo,Studying
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,4/18/2021 5:13,negative,15,photo,Studying
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,1/6/2021 19:13,negative,0,photo,Studying
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,8/23/2020 12:25,positive,30,photo,Studying

In [40]:
num_of_cat = df['Category'].nunique()
list_of_cat = df['Category'].unique()
print(f'there are {num_of_cat} categories and they are {list_of_cat}')
# Now its down to 29 from 40

there are 29 categories and they are ['Studying' 'healthy eating' 'technology' 'food' 'cooking' 'dogs' 'soccer'
 'public speaking' 'science' 'tennis' 'travel' 'fitness' 'education'
 'studying' 'veganism' 'Animals' 'animals' 'culture' 'Fitness' 'Veganism'
 'Travel' 'Education' 'Technology' 'Soccer' 'Culture' 'Food'
 'Healthy Eating' 'Science' 'Public Speaking']