In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Reactions.csv')

In [3]:
df = df.drop(['Unnamed: 0'], axis=1)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25553 entries, 0 to 25552
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  25553 non-null  object
 1   User ID     22534 non-null  object
 2   Type        24573 non-null  object
 3   Datetime    25553 non-null  object
dtypes: object(4)
memory usage: 798.7+ KB

In [5]:
df['Type'].value_counts(), df['Type'].count()
#the most common reactions
#there are some null values which we will remove because there isnt much of them

(Type
 heart          1622
 scared         1572
 peeking        1559
 hate           1552
 interested     1549
 dislike        1548
 adore          1548
 want           1539
 love           1534
 disgust        1526
 like           1520
 super love     1519
 indifferent    1512
 cherish        1501
 worried        1497
 intrigued      1475
 Name: count, dtype: int64,
 24573)

In [6]:
nulls = df[df['Type'].isna()]
nulls
#980 types are missing

                                 Content ID User ID Type             Datetime
0      97522e57-d9ab-4bd6-97bf-c24d952602d2     NaN  NaN  2021-04-22 15:17:15
46     9f737e0a-3cdd-4d29-9d24-753f4e3be810     NaN  NaN  2020-12-04 20:00:31
62     230c4e4d-70c3-461d-b42c-ec09396efb3f     NaN  NaN  2021-03-19 08:19:38
94     356fff80-da4d-4785-9f43-bc1261031dc6     NaN  NaN  2020-08-28 23:43:55
102    01ab84dd-6364-4236-abbb-3f237db77180     NaN  NaN  2021-02-08 21:55:56
...                                     ...     ...  ...                  ...
25445  b4cef9ef-627b-41d7-a051-5961b0204ebb     NaN  NaN  2020-11-30 15:26:32
25449  7a79f4e4-3b7d-44dc-bdef-bc990740252c     NaN  NaN  2021-04-04 19:39:36
25454  435007a5-6261-4d8b-b0a4-55fdc189754b     NaN  NaN  2021-01-04 20:28:29
25499  4e4c9690-c013-4ee7-9e66-943d8cbd27b7     NaN  NaN  2021-05-25 18:05:31
25540  75d6b589-7fae-4a6d-b0d0-752845150e56     NaN  NaN  2021-04-25 05:09:20

[980 rows x 4 columns]

In [7]:
df[df['User ID'].isna()]
#i wanted to check to see if it's common that when id is missing type is also missing but its not the case

,Content ID,User ID,Type,Datetime
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
10,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,love,2020-08-04 05:05:02
20,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,intrigued,2021-01-31 16:03:56
30,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,intrigued,2020-08-25 08:21:56
40,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,dislike,2020-11-29 21:33:04
...,...,...,...,...
25519,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,NaN,love,2021-01-28 21:41:00
25529,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,NaN,dislike,2021-05-08 11:47:36
25539,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,NaN,cherish,2020-10-26 16:57:56
25540,75d6b589-7fae-4a6d-b0d0-752845150e56,NaN,NaN,2021-04-25 05:09:20
25550,75d6b589-7fae-4a6d-b0d0-752845150e56,NaN,interested,2020-09-12 03:54:58

In [8]:
df = df.dropna()

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22534 entries, 1 to 25552
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  22534 non-null  object
 1   User ID     22534 non-null  object
 2   Type        22534 non-null  object
 3   Datetime    22534 non-null  object
dtypes: object(4)
memory usage: 880.2+ KB

In [10]:
df.head()
#We dont need the user id

,Content ID,User ID,Type,Datetime
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01
5,97522e57-d9ab-4bd6-97bf-c24d952602d2,9b6d35f9-5e15-4cd0-a8d7-b1f3340e02c4,interested,2020-08-23 12:25:58

In [11]:
df = df.drop(['User ID'], axis=1)

In [12]:
df.head(), df.info()
#changing Datetime to the right type

<class 'pandas.core.frame.DataFrame'>
Index: 22534 entries, 1 to 25552
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  22534 non-null  object
 1   Type        22534 non-null  object
 2   Datetime    22534 non-null  object
dtypes: object(3)
memory usage: 704.2+ KB

(                             Content ID        Type             Datetime
 1  97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust  2020-11-07 09:43:50
 2  97522e57-d9ab-4bd6-97bf-c24d952602d2     dislike  2021-06-17 12:22:51
 3  97522e57-d9ab-4bd6-97bf-c24d952602d2      scared  2021-04-18 05:13:58
 4  97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust  2021-01-06 19:13:01
 5  97522e57-d9ab-4bd6-97bf-c24d952602d2  interested  2020-08-23 12:25:58,
 None)

In [13]:
df['Datetime'] = pd.to_datetime(df['Datetime'])

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22534 entries, 1 to 25552
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  22534 non-null  object
 1   Type        22534 non-null  object
 2   Datetime    22534 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 704.2+ KB

In [15]:
df['Date'] = df['Datetime'].dt.date

In [16]:
df.head()

,Content ID,Type,Datetime,Date
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,2020-11-07
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,2021-06-17
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,2021-04-18
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,2021-01-06
5,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,2020-08-23

In [17]:
df['Time'] = df['Datetime'].dt.time

In [18]:
df.head()

,Content ID,Type,Datetime,Date,Time
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,2020-11-07,09:43:50
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,2021-06-17,12:22:51
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,2021-04-18,05:13:58
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,2021-01-06,19:13:01
5,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,2020-08-23,12:25:58

In [27]:
df = df.drop(['Datetime'], axis=1)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22534 entries, 1 to 25552
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  22534 non-null  object
 1   Type        22534 non-null  object
 2   Date        22534 non-null  datetime64[ns]
 3   Time        22534 non-null  datetime64[ns]
dtypes: datetime64[ns](2), object(2)
memory usage: 880.2+ KB

In [29]:
df['Date']= pd.to_datetime(df['Date'])

In [30]:
df['Time']= pd.to_datetime(df['Time'], format='%H:%M:%S')

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22534 entries, 1 to 25552
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  22534 non-null  object
 1   Type        22534 non-null  object
 2   Date        22534 non-null  datetime64[ns]
 3   Time        22534 non-null  datetime64[ns]
dtypes: datetime64[ns](2), object(2)
memory usage: 880.2+ KB

In [32]:
df.to_csv('Reactions_Cleaned.csv')